<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/styles/output.css" type="text/css" />
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Update</title>

</head>

<body class="bg-ash">

  <section
    class="grid grid-cols-4 gap-x-4 grid-rows-none mx-4 md:grid-cols-8 lg:grid-cols-12 xl:max-w-screen-xl xl:mx-auto h-screen  pt-10">
    <div class="col-span-6 self-center hidden lg:block">
      <img src="/images/sign-up-img.png" />
    </div>

    <form method="POST" action="/update"
      class="col-span-4 grid grid-cols-4 gap-x-4 md:col-start-2 md:col-span-6 md:p-10 lg:col-start-7 lg:col-span-6 self-center xl:col-start-8 xl:col-span-5">
      <h1 class="text-white text-5xl font-display font-bold h-auto block col-span-4">
        Add Menu Item
      </h1>
      <p class="text-white col-span-4 mb-6 block font-body font-light col-span-4">
        Use this form to update the menu.
      </p>
      <div class="mb-4 col-start-1 col-span-2">
        <label class="block text-white text-sm mb-2" for="item_name">
          Menu Item Name
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_name" name="item_name"
          type="text" />
      </div>
      <div class="mb-4 col-start-3 col-span-2">
        <label class="block text-white text-sm mb-2" for="item_price">
          Menu Item Price
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_price" name="item_price"
          type="number" min="0" />
      </div>
      <div class="mb-4 col-span-2">
        <label class="block text-white text-sm mb-2" for="item_prep_time">
          Average Prep Time
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_prep_time" name="item_prep_time"
          type="number" min="0" />
      </div>
      <div class="col-span-2">
        <label class="block text-white text-sm mb-2" for="item_category">
          Category
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_category"
          name="item_category" type="text" />
      </div>
      <div class="col-span-4">
        <label class="block text-white text-sm mb-2" for="item_image_url">
          Image URL
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_image_url"
          name="item_image_url" type="url" />
      </div>
      <div class="col-span-4">
        <label class="block text-white text-sm mb-2" for="item_description">
          Item Description
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_description"
          name="item_description" type="text" />
      </div>
      <div class="col-span-4">
        <input class="mr-2 leading-tight" id="item_in_stock"
          name="item_in_stock" type="checkbox" />
          <span class="text-sm text-white focus:outline-none focus:shadow-outline" for="item_in_stock">
            Item in Stock ?
           </span>
      </div>
      <button type="submit" class="bg-coffee-brown col-span-4 py-3 rounded text-white mt-10">
        Update Item
      </button>
    </form>
  </section>
  <script src="/scripts/nav.js"></script>
</body>

</html>
