<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/styles/output.css" type="text/css" />
    <title>Register</title>
  </head>
  <body class="bg-ash">
    <!--Navbar-->
    <nav
      class="px-4 py-2 md:px-6 md:py-4 w-full flex items-center justify-between fixed"
    >
      <img src="/images/lhc-logo.svg" />
      <div class="flex">
        <a class="mx-3 lg:hidden"
          ><img src="/images/icons/shopping-cart.svg"
        /></a>
        <div onclick="triggerMenu()" class="mx-3 lg:hidden">
          <img src="/images/icons/menu.svg" />
        </div>

        <a href="/menu" class="text-white mx-3 hidden lg:block">Menu</a>
        <a class="text-white mx-3 hidden lg:block">Contact Us</a>
        <div class="h-px-6 w-px bg-coffee-brown mx-3 hidden lg:block"></div>
        <a href="/login" class="text-white mx-3 hidden lg:block">Login</a>
        <a href="/register" class="text-white mx-3 hidden lg:block">Sign Up</a>
      </div>
    </nav>

    <!--Mobile Menu-->

    <div
      class="fixed h-screen bg-ash right-0 flex flex-col items-end justify-center z-10 transition-all w-0 duration-300 ease-in-out"
      id="mobile-menu"
    >
      <img
        onclick="triggerMenu()"
        class="absolute top-0 left-0 p-6 transition-all duration-300"
        src="/images/icons/back-arrow.svg"
      />
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Menu</a
      >
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Contact Us</a
      >
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Login</a
      >
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Register</a
      >
    </div>
   

    <!--Landing Page-->
    <section
      class="grid grid-cols-4 gap-x-4 grid-rows-none mx-4 md:grid-cols-8 md:col-start-2 md:col-span-6 lg:grid-cols-12 xl:max-w-screen-xl xl:mx-auto h-screen pt-10"
    >
      <div
        class="col-span-4 grid grid-cols-4 gap-x-4 md:col-start-2 md:col-span-6 lg:col-start-1 lg:col-span-6 self-center xl:col-start-1 xl:col-span-5"
      >
        <div class="flex col-span-4 mb-6">
          <img
            class="h-full w-24 md:w-50 lg:w-full"
            src="/images/lhc-logo.svg"
          />
          <h1
            class="ml-4 text-white text-5xl font-display font-bold h-auto block col-span-4 self-end md:text-6xl"
          >
            The <br />
            Lighthouse
          </h1>
        </div>

        <p
          class="text-white col-span-4 mb-6 block font-body font-light col-span-4 md:text-lg"
        >
          I thought this salad was exceptionally delicious and healthy. I
          recommend pressing the entire tofu block for at least 20 minutes
          before to remove excess ...
        </p>

        <button class="bg-coffee-brown col-span-4 py-3 rounded text-white mt-2">
          Order Pickup
        </button>
      </div>

      <div class="col-span-6 col-start-7 self-center hidden lg:block">
        <img src="/images/landing-img.png" />
      </div>
    </section>

    <!-- Feature Items-->
    <section
      class="bg-feature-img bg-cover h-sm-feature grid grid-cols-4 gap-x-4 md:grid-cols-8 md:h-md-feature lg:h-lg-feature lg:grid-cols-12"
    >
      <div
        class="bg-ash col-span-4 rounded p-4 mx-4 self-center md:col-start-2 md:col-span-6 lg:col-start-3 lg:col-span-8 xl:col-start-4 xl:col-span-6"
      >
        <div class="md:px-12 md:py-2 lg:py-4">
          <p
            class="text-coffee-brown font-body font-bold text-xs font-bold lg:text-lg"
          >
            FEATURE OF THE DAY
          </p>
          <p class="text-white text-2xl font-display font-bold lg:text-4xl">
            Lighthouse Americano
          </p>
          <p class="text-white font-body mt-2 lg:text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At
            condimentum lectus diam ac. Senectus nec dis quis pulvinar.
          </p>
        </div>
      </div>
    </section>

    <!--Menu Page-->

    <section class="px-4 bg-white grid grid-cols-4 gap-x-4 py-6 md:grid-cols-8 lg:col-start-1 lg:grid-cols-12">
      <div class="col-span-4 lg:col-span-12">
        <h2 class="font-display text-3xl font-bold">Our Menu</h2>
      </div>

      <div class="col-span-4 pt-4 md:col-span-8" id="menu-items-container">

        <article class="shadow rounded flex md:grid md:grid-cols-8 lg:mr-6" >
          <img
            class="object-cover h-full w-full col-span-3 rounded-l"
            src="/images/coffee-img.png"
          />

          <div class="p-4 col-span-5">
            <header>
              <p class="text-xl font-body font-bold">Lighthouse Americano</p>
            </header>
            <p class="text-light-grey pb-4 pt-2">
              I thought this salad was exceptionally delicious and healthy. I
              recommend pressing the entire tofu block for at least 20 minutes
              before to remove excess ...
            </p>
            <footer class="flex justify-between items-center">
              <p class="cost text-xl text-ash">$3.25</p>
              <button
                class="border-coffee-brown border-2 rounded text-coffee-brown py-1 px-2 font-body font-bold"
              >
                <span class="text-xl leading-tight font-thin">+</span> Order
              </button>
            </footer>
          </div>
        </article>

      </div>
    </section>

    <script src="/scripts/nav.js"></script>
  </body>
</html>
