<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/styles/output.css" type="text/css" />
        <!-- External JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Menu</title>
</head>
<body class="bg-ash">


</body>
</html>
