/* Imports tailwind css core components https://tailwindcss.com/docs/installation */
/* To build the CSS RUN:

npx tailwindcss build ./styles/styles.css -o ./public/styles/output.css

*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Playfair+Display:wght@400;600;700&display=swap");

@tailwind base;

@tailwind components;

.form-input {
  @apply border-b text-coffee-brown bg-transparent py-1 px-1 text-white leading-tight w-full;
}

.mobile-menu-item {
  @apply my-4 text-white mr-10 font-semibold;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@tailwind utilities;
